@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Atomic+Age');

html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: white;
}

p {
  margin-bottom: 0;
  color: #999
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  padding: 0.25em 1em;
  display: flex;
  justify-content: space-between;
  background: rgba(black, 0.9);
  opacity: 0;
  font-family: 'Homemade Apple', cursive;
  .title {
    font-size: 3em;
  }
}

.landing {
  height: 100vh;
  padding: 1em 1em 2em 1em;
  background-image: radial-gradient(circle, #2c2b4b 0%, #050407 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-title {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.intro {
  width: 70vw;
}
.screen {
  width: 70vw;
}
.showcase {
  width: 70vw;
  padding: 2em;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  .icons {
    margin: auto;
    width: 6vw;
  }
}
.button-area {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .download {
    border: none;
    height: 40px;
    width: 15vw;
    border-radius: 5px;
    background: #9085db;
    font-size: 1.3vw;
    color: white;
    cursor: pointer;
    transition: background 200ms ease-in-out;
    &:hover {
      background: #2c2b4b
    }
  }
}

.instructions {
  height: 100vh;
  width: 100vw;
  background: black;
}
.mac {
  background-image: url("../assets/mac-instructions.png");
  background-size: cover;
}
.win {
  background-image: url("../assets/win-instructions.png");
  background-size: cover;
}

.breaker {
  height: 60vh;
  padding: 1em;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;

  .column {
    padding: 1em;
    display: flex;
    flex-direction: column;
    .title {
      text-align: center;
      font-family: 'Roboto', sans-serif;

    }
    .graphic {
      width: 100%;
    }
  }
}

.footer {
  height: 25vh;
  padding: 1em;
  background-color: #9085db;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .social {
    width: 40vw;
    display: flex;
    align-items: space-around;
    justify-content: space-between;
    .link {
      height: 3vw;
      width: 3vw;
      display: flex;
      justify-content: center;
      align-items: center;
      .social-icon {
        height: 100%;
        width: 100%;
      }
      &:hover .fa-github {
        color: #3F2B5E;
      }
      &:hover .fa-codepen {
        color: #666;
      }
      &:hover .fa-twitter {
        color: #55acee;
      }
      &:hover .fa-instagram {
        color: #ff2da0;
      }
      &:hover .fa-tumblr {
        color: #36465d;
      }
      &:hover .fa-linkedin {
        color: #0e76a8;
      }
      &:hover .fa-envelope {
        color: #edb200;
      }
    }
  }

  .legal {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .me {
      display: flex;
      flex-direction: row;
      a {
        margin-right: 3px;
      }
    }

  }

}
