//- footer.pug    

footer.footer
  .social
    a.link(href="http://www.github.com/ryanzola" target="_blank")
      span.social-icon.fab.fa-github
    a.link(href="http://www.codepen.io/ryanzola" target="_blank")
      span.social-icon.fab.fa-codepen
    a.link(href="http://www.twitter.com/ryanzola" target="_blank")
      span.social-icon.fab.fa-twitter
    a.link(href="http://www.instagram.com/ryanzola" target="_blank")
      span.social-icon.fab.fa-instagram
    a.link(href="http://www.ryanzola.tumblr.com" target="_blank")
      span.social-icon.fab.fa-tumblr
    a.link(href="http://www.linkedin.com/ryanzola" target="_blank")
      span.social-icon.fab.fa-linkedin
    a.link(href="mailto:ryanzola@me.com?subject=Hej Ryan!&body=Hi Ryan, I would like to request a folder..." target="_blank")
      span.social-icon.fas.fa-envelope
  .legal
    .me 
      div &copy; 
      a(href="http://www.ryanzola.com") Ryan Zola
      div 2018
    .source
      a(href="https://github.com/ryanzola/projectfolders") View Source

script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
script(src="/bundle.js" charset="utf-8")