doctype html
html(lang="en")
  include head.pug
  body.container-fluid
    section.landing.row
      .header.fixed-top
        div.logo.fixed-top Ryan Zola
        .nav-bg
      .feature-header
        ul.nav.feature-list.pl-5.pr-5
          li.nav-item
            span.mr-3.fas.fa-mouse-pointer
            span Design
          li.nav-item
            span.mr-3.fas.fa-database
            span CMS
          li.nav-item
            span.mr-3.fas.fa-i-cursor
            span Editors
          li.nav-item
            span.mr-3.fas.fa-code
            span Scripting
      .col-12
        .row.d-flex.justify-content-around
          .col-5.d-flex.flex-column.justify-content-center
            h2 Project Gradient Folders
            p.mt-3 Gradients make your life better: fact. So here's a set of over 50 handcrafted, artisan project-specific gradient folders + a bonus TypeScript folder for your computer system so you can live your best life.
          .col-6
            img.img-fluid(src="../assets/icon-array.png")

    section.breaker.row.mb-4.mt-4
      .column.col-4.d-flex.flex-column.justify-content-center.align-items-center
        .title.mb-2 Frameworks
        img.graphic(src="../assets/frameworks.png")
      .column.col-4.d-flex.flex-column.justify-content-center.align-items-center
        .title.mb-2 Languages
        img.graphic(src="../assets/languages.png")
      .column.col-4.d-flex.flex-column.justify-content-center.align-items-center
        .title.mb-2 Applications
        img.graphic(src="../assets/applications.png")

    section.landing.row
      .col-12
        h1.mt-4.mb-3.text-center Folders with Icons
        .row.row.d-flex.justify-content-center
          .col-9
            p.intro.mb-5 Icons help you remember and recognize folders without needing to read the name underneath. So far, we've got a few ready to go for you, with more on the way.
            .showcase.mb-5
              img.screen.img-fluid(src="../assets/icons.png")
            .button-area.d-flex.justify-content-center.align-items-center
                a.mr-5(href="../assets/downloads/mac/folders-icon.zip" download) 
                  button.download.btn.btn-primary 
                    span.mr-3 Download
                    span.fab.fa-apple
                a.ml-5(href="../assets/downloads/win/folders-icon.zip" download) 
                  button.download.btn.btn-primary 
                    span.mr-3 Download
                    span.fab.fa-windows

    section.landing.row
      .col-12
        h1.mt-4.mb-3.text-center Folders without Icons
        .row.row.d-flex.justify-content-center
          .col-9
            p.intro.mb-5.text-center Not a web developer? Just a fan of gradients? Like to just randomly download things? That's fine. I got you covered!
            .showcase.mb-5
              img.screen.img-fluid(src="../assets/blank.png")
            .button-area.d-flex.justify-content-center.align-items-center
                a.mr-5(href="../assets/downloads/mac/folders-blank.zip" download) 
                  button.download.btn.btn-primary 
                    span.mr-3 Download
                    span.fab.fa-apple
                a.ml-5(href="../assets/downloads/win/folders-blank.zip" download) 
                  button.download.btn.btn-primary 
                    span.mr-3 Download
                    span.fab.fa-windows

    section.instructions.mac.row
      .col-12
        h1.mb-3.text-center Instructions for Mac
        .row
          .col-10.offset-1
            ol.mb-5
              li Download the icon set you want above, or all of the Mac icons
                span 
                  a(href="../assets/downloads/mac/folders-all.zip" download) here
                span .
              li Unzip the icon set (this should make a folder. Icons are in .png format).
              li Open the icon you want to set your folder to and copy it 
              span 
                pre ctrl + c
              li Right-click on the folder you want to customize and select "Get Info".
              li 
                span Click on the icon to the left of the folder name in this view, and paste it 
                span 
                  pre ctrl + v

            p.more.mb-5 There's more information in 
              span 
                a(href="https://support.apple.com/kb/PH25383?locale=en_US") this article
              span .
    
    section.instructions.win.row
      .col-12
        .section-title.mb-3.text-center Instructions for Windows
        .row
          .col-10.offset-1
            ol.mb-5
              li Download the icon set you want above, or all of the Windows icons
                span 
                  a(href="../assets/downloads/win/folders-all.zip" download) here
                span .
              li Unzip the icon set (this should make a folder. Icons are in .ico format).
              li Right-click on the folder you want to customize and select “Properties”.
              li Under the “customize” tab, go to the “Folder icon” section, click on “Change icon” button.
              li Select the icon you would like to replace it with.
              li Save and you're done!

            p.more.mb-5 There's more information in 
              span 
                a(href="https://support.microsoft.com/en-us/help/812003/how-to-modify-your-folder-view-settings-or-to-customize-a-folder") this article
              span .
            
    include footer.pug