doctype html
html(lang="en")
  include head.pug
  body.container-fluid

    section.landing.row
      .col-12
        .section-title.mt-2 Gradient Project Folders
        .row
          .col-10.offset-1
            img.screen.img-fluid(src="../assets/projectfolders.png")
            p Gradients make your life better: fact. So here's a set of over 40 handcrafted, artisan project-specific gradient folders + a bonus TypeScript folder for your computer system so you can live your best life.

    section.breaker.row
      .column.col-4.d-flex.flex-column.justify-content-center.align-items-center
        .title Frameworks
        img.graphic(src="../assets/frameworks.png")
      .column.col-4.d-flex.flex-column.justify-content-center.align-items-center
        .title Languages
        img.graphic(src="../assets/languages.png")
      .column.col-4.d-flex.flex-column.justify-content-center.align-items-center
        .title Applications
        img.graphic(src="../assets/applications.png")

    section.landing.row
      .col-12
        .section-title.mb-3 Folders With Icons
        .row
          .col-10.offset-1
            p.intro.mb-5 Icons help you remember and recognize folders without needing to read the name underneath. So far, we've got a few ready to go for you, with more on the way.
            .showcase.mb-5
              img.icons(src='../assets/folders-icon/angular-folder.png')
              img.icons(src='../assets/folders-icon/cordova-folder.png')
              img.icons(src='../assets/folders-icon/docker-folder.png')
              img.icons(src='../assets/folders-icon/github-folder.png')
              img.icons(src='../assets/folders-icon/golang-folder.png')
              img.icons(src='../assets/folders-icon/grpc-folder.png')
              img.icons(src='../assets/folders-icon/ionic-folder.png')
              img.icons(src='../assets/folders-icon/kubernetes-folder.png')
              img.icons(src='../assets/folders-icon/laravel-folder.png')
              img.icons(src='../assets/folders-icon/misc-folder.png')
              img.icons(src='../assets/folders-icon/node-folder.png')
              img.icons(src='../assets/folders-icon/rails-folder.png')
              img.icons(src='../assets/folders-icon/react-folder.png')
              img.icons(src='../assets/folders-icon/sketch-folder.png')
              img.icons(src='../assets/folders-icon/squarespace-folder.png')
              img.icons(src='../assets/folders-icon/swift-folder.png')
              img.icons(src='../assets/folders-icon/typescript-folder.png')
              img.icons(src='../assets/folders-icon/vscode-folder.png')
              img.icons(src='../assets/folders-icon/vue-folder.png')
              img.icons(src='../assets/folders-icon/wordpress-folder.png')
            .button-area.d-flex.justify-content-center.align-items-center
                a.mr-5(href="../assets/downloads/mac/folders-icon.zip" download) 
                  button.download.btn.btn-primary 
                    span.mr-3 Download
                    span.fab.fa-apple
                a.ml-5(href="../assets/downloads/win/folders-icon.zip" download) 
                  button.download.btn.btn-primary 
                    span.mr-3 Download
                    span.fab.fa-windows

    section.landing.row
      .col-12
        .section-title.mb-3 Folders Without Icons
        .row
          .col-10.offset-1
            p.intro.mb-5 Not a web developer? Just a fan of gradients? Like to just randomly download things? That's fine. I got you covered!
            .showcase.mb-5
              img.icons(src='../assets/folders-blank/angular-folder--blank.png')
              img.icons(src='../assets/folders-blank/cordova-folder--blank.png')
              img.icons(src='../assets/folders-blank/docker-folder--blank.png')
              img.icons(src='../assets/folders-blank/github-folder--blank.png')
              img.icons(src='../assets/folders-blank/golang-folder--blank.png')
              img.icons(src='../assets/folders-blank/grpc-folder--blank.png')
              img.icons(src='../assets/folders-blank/ionic-folder--blank.png')
              img.icons(src='../assets/folders-blank/kubernetes-folder--blank.png')
              img.icons(src='../assets/folders-blank/laravel-folder--blank.png')
              img.icons(src='../assets/folders-blank/misc-folder--blank.png')
              img.icons(src='../assets/folders-blank/node-folder--blank.png')
              img.icons(src='../assets/folders-blank/rails-folder--blank.png')
              img.icons(src='../assets/folders-blank/react-folder--blank.png')
              img.icons(src='../assets/folders-blank/sketch-folder--blank.png')
              img.icons(src='../assets/folders-blank/squarespace-folder--blank.png')
              img.icons(src='../assets/folders-blank/swift-folder--blank.png')
              img.icons(src='../assets/folders-blank/typescript-folder--blank.png')
              img.icons(src='../assets/folders-blank/vscode-folder--blank.png')
              img.icons(src='../assets/folders-blank/vue-folder--blank.png')
              img.icons(src='../assets/folders-blank/wordpress-folder--blank.png')
            .button-area.d-flex.justify-content-center.align-items-center
                a.mr-5(href="../assets/downloads/mac/folders-blank.zip" download) 
                  button.download.btn.btn-primary 
                    span.mr-3 Download
                    span.fab.fa-apple
                a.ml-5(href="../assets/downloads/win/folders-blank.zip" download) 
                  button.download.btn.btn-primary 
                    span.mr-3 Download
                    span.fab.fa-windows

    section.instructions.mac.row
      .col-12
        .section-title.mb-3 Instructions for Mac
        .row
          .col-10.offset-1
            ol.mb-5
              li Download the icon set you want above, or all of the Mac icons
                span 
                  a(href="../assets/downloads/mac/folders-all.zip" download) here
                span .
              li Unzip the icon set (this should make a folder. Icons are in .png format).
              li Open the icon you want to set your folder to and copy it 
              span 
                pre ctrl + c
              li Right-click on the folder you want to customize and select "Get Info".
              li 
                span Click on the icon to the left of the folder name in this view, and paste it 
                span 
                  pre ctrl + v

            p.more.mb-5 There's more information in 
              span 
                a(href="https://support.apple.com/kb/PH25383?locale=en_US") this article
              span .
    
    section.instructions.win.row
      .col-12
        .section-title Instructions for Windows
        .row
          .col-10.offset-1
            ol.mb-5
              li Download the icon set you want above, or all of the Windows icons
                span 
                  a(href="../assets/downloads/win/folders-all.zip" download) here
                span .
              li Unzip the icon set (this should make a folder. Icons are in .ico format).
              li Right-click on the folder you want to customize and select “Properties”.
              li Under the “customize” tab, go to the “Folder icon” section, click on “Change icon” button.
              li Select the icon you would like to replace it with.
              li Save and you're done!

            p.more.mb-5 There's more information in 
              span 
                a(href="https://support.microsoft.com/en-us/help/812003/how-to-modify-your-folder-view-settings-or-to-customize-a-folder") this article
              span .
            
    include footer.pug