@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");
html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 100; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  text-decoration: underline;
  color: white; }
  a:hover {
    color: #51488e; }

p {
  margin: 0;
  color: #999; }

body {
  line-height: 1.6;
  font-size: 12px;
  text-align: justify;
  background: black;
  color: white; }

@media screen and (min-width: 480px) {
  body {
    font-size: 14px; } }

@media screen and (min-width: 800px) {
  body {
    font-size: 16px; } }

.header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  padding: 0.25em 1em;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  font-family: 'Homemade Apple', cursive; }
  .header .title {
    font-size: 3em; }

.landing {
  padding-bottom: 30px;
  background-image: radial-gradient(circle, #2c2b4b 0%, #050407 100%); }

.section-title {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

.showcase {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }
  .showcase .icons {
    margin: auto;
    width: 6vw; }

.button-area .download {
  border: #9085db;
  background: #9085db;
  transition: background 200ms ease-in-out; }
  .button-area .download:hover {
    background: #2c2b4b; }

.instructions {
  background-color: black; }
  .instructions .more {
    padding-left: 40px; }

.mac {
  background-image: url("../assets/mac-instructions.png");
  background-size: cover;
  background-position-y: bottom; }

.win {
  background-image: url("../assets/win-instructions.png");
  background-size: cover;
  background-position-y: bottom; }

.breaker {
  background-color: black; }
  .breaker .column .title {
    font-family: 'Roboto', sans-serif; }
  .breaker .column .graphic {
    width: calc(68vw / 3); }

.footer {
  height: 15vw;
  width: 100vw;
  background-color: #9085db; }
  .footer .social .link {
    height: 3vw;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .social .link .social-icon {
      height: 100%;
      width: 100%; }
    .footer .social .link:hover .fa-github {
      color: #3f2b5e; }
    .footer .social .link:hover .fa-codepen {
      color: #666; }
    .footer .social .link:hover .fa-twitter {
      color: #55acee; }
    .footer .social .link:hover .fa-instagram {
      color: #ff2da0; }
    .footer .social .link:hover .fa-tumblr {
      color: #36465d; }
    .footer .social .link:hover .fa-linkedin {
      color: #0e76a8; }
    .footer .social .link:hover .fa-envelope {
      color: #edb200; }
  .footer .legal {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.6vw; }
    .footer .legal .me a {
      margin-right: 3px; }
