@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");
html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 100; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  color: white; }

p {
  margin: 0;
  color: #999; }

body {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  background: black;
  color: white; }

.header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  padding: 0.25em 1em;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  font-family: 'Homemade Apple', cursive; }
  .header .title {
    font-size: 3em; }

.landing {
  height: 100vh;
  padding: 1em 1em 2em 1em;
  background-image: radial-gradient(circle, #2c2b4b 0%, #050407 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.section-title {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

.intro {
  width: 70vw; }

.screen {
  margin: 10px 0;
  width: 70vw; }

.showcase {
  width: 70vw;
  padding: 2em;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }
  .showcase .icons {
    margin: auto;
    width: 6vw; }

.button-area {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .button-area .download {
    border: none;
    height: 40px;
    width: 15vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9085db;
    font-size: 1.3vw;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: background 200ms ease-in-out; }
    .button-area .download:hover {
      background: #2c2b4b; }

.instructions {
  height: 100vh;
  width: 100vw;
  padding: 1em;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .instructions ol {
    height: 60vh;
    margin-top: 60px;
    margin-bottom: 0; }
    .instructions ol li {
      margin-bottom: 40px; }
  .instructions .more {
    margin: 0;
    padding: 0 25px; }

.mac {
  background-image: url("../assets/mac-instructions.png");
  background-size: cover; }

.win {
  background-image: url("../assets/win-instructions.png");
  background-size: cover; }

.breaker {
  height: 35vw;
  padding: 1em;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em; }
  .breaker .column {
    padding: 1em;
    display: flex;
    flex-direction: column; }
    .breaker .column .title {
      text-align: center;
      font-family: 'Roboto', sans-serif; }
    .breaker .column .graphic {
      width: 100%; }

.footer {
  height: 15vw;
  width: 100vw;
  padding: 1em;
  background-color: #9085db;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .footer .social {
    width: 40vw;
    display: flex;
    align-items: space-around;
    justify-content: space-between; }
    .footer .social .link {
      height: 3vw;
      width: 3vw;
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer .social .link .social-icon {
        height: 100%;
        width: 100%; }
      .footer .social .link:hover .fa-github {
        color: #3f2b5e; }
      .footer .social .link:hover .fa-codepen {
        color: #666; }
      .footer .social .link:hover .fa-twitter {
        color: #55acee; }
      .footer .social .link:hover .fa-instagram {
        color: #ff2da0; }
      .footer .social .link:hover .fa-tumblr {
        color: #36465d; }
      .footer .social .link:hover .fa-linkedin {
        color: #0e76a8; }
      .footer .social .link:hover .fa-envelope {
        color: #edb200; }
  .footer .legal {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.6vw; }
    .footer .legal .me a {
      margin-right: 3px; }
