html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: underline;
  color: white;
  &:hover {
    color: #51488e
  }
}

p {
  margin: 0;
  color: hsla(0, 0%, 100%, .6);
  font-weight: 100;
}

pre {
  color: white;
}

body {
  line-height: 1.6;
  font-size: 12px;
  text-align: justify;
  background: black;
  color: white;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 16px;
  }
}

.header {
  left: 0px;
  top: 0px;
  right: 0px;
  height: 70px;
  width: 100%;
  .logo {
    top: 15px;
    left: 20px;
    font-family: 'Homemade Apple', cursive;
    font-size: 3em;
  }
  .nav-bg {    
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.91);
  }
}

.feature-header {
  background-color: rgba(83, 181, 253, .07);
  position: relative;
  top: 70px;
  display: flex;
  width: 100%;
  height: 70px;
  margin-bottom: 70px;
}
.feature-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: hsla(0, 0%, 100%, .6);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  cursor: default;
}


.landing {
  padding-bottom: 30px;
  background-image: linear-gradient(227deg, rgba(83, 181, 253, 0), rgba(83, 181, 253, .2));
}
.section-title {
  font-family: 'Roboto', sans-serif;
}
.screen {
  width: inherit;
}
.button-area {
  .download {
    border: #4fadff;
    background: #4fadff;
    transition: background 200ms ease-in-out;
    &:hover {
      background: #2c2b4b;
    }
  }
}

.instructions {
  background-color: black;
  .more {
    padding-left: 40px;
  }
}
.mac {
  background-image: url('../assets/macinstructions.png');
  background-size: cover;
  background-position-y: bottom;
}
.win {
  background-image: url('../assets/wininstructions.png');
  background-size: cover;
  background-position-y: bottom;
}

.breaker {
  background-color: black;

  .column {
    .title {
      font-family: 'Gugi', sans-serif;
      font-weight: 100;
      font-size: 1.3em;
      color: #4fadff;
    }
    .graphic {
      width: calc(68vw / 3);
    }
  }
}