html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: underline;
  color: white;
  &:hover {
    color: #51488e
  }
}

p {
  margin: 0;
  color: #999;
}

body {
  line-height: 1.6;
  font-size: 12px;
  text-align: justify;
  background: black;
  color: white;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 16px;
  }
}

.header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  padding: 0.25em 1em;
  display: flex;
  justify-content: space-between;
  background: rgba(black, 0.9);
  opacity: 0;
  font-family: 'Homemade Apple', cursive;
  .title {
    font-size: 3em;
  }
}

.landing {
  padding-bottom: 30px;
  background-image: radial-gradient(circle, #2c2b4b 0%, #050407 100%);
}
.section-title {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.showcase {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  .icons {
    margin: auto;
    width: 6vw;
  }
}
.button-area {
  .download {
    border: #9085db;
    background: #9085db;
    transition: background 200ms ease-in-out;
    &:hover {
      background: #2c2b4b;
    }
  }
}

.instructions {
  background-color: black;
  .more {
    padding-left: 40px;
  }
}
.mac {
  background-image: url('../assets/mac-instructions.png');
  background-size: cover;
}
.win {
  background-image: url('../assets/win-instructions.png');
  background-size: cover;
}

.breaker {
  height: 25vw;
  background-color: black;

  .column {
    .title {
      font-family: 'Roboto', sans-serif;
    }
    .graphic {
      width: calc(68vw / 3);
    }
  }
}