@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: white; }

p {
  margin-bottom: 0; }

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white; }

.header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  padding: 0.25em 1em;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  font-family: 'Homemade Apple', cursive; }
  .header .title {
    font-size: 3em; }

.landing {
  height: 100vh;
  padding: 1em 1em 2em 1em;
  background-image: radial-gradient(circle, #2c2b4b 0%, #050407 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.section-title {
  font-size: 2.5em;
  text-align: center;
  font-weight: 400; }

.intro {
  width: 70%; }

.screen {
  width: 70%; }

.breaker {
  height: 60vh;
  padding: 1em;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em; }
  .breaker .column {
    padding: 1em;
    display: flex;
    flex-direction: column; }
    .breaker .column .title {
      text-align: center;
      font-weight: 400; }
    .breaker .column .graphic {
      width: 100%; }

.showcase {
  width: 70vw;
  padding: 2em;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }
  .showcase .icons {
    height: 60px;
    width: 60px; }

.download {
  border: none;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  background: #9085db;
  color: white;
  cursor: pointer;
  transition: background 200ms ease-in-out; }
  .download:hover {
    background: #2c2b4b; }

.footer {
  height: 200px;
  padding: 1em;
  background-color: #9085db;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .footer .social {
    width: 40vw;
    display: flex;
    align-items: space-around;
    justify-content: space-between; }
    .footer .social .link {
      height: 42px;
      width: 42px;
      background: transparent; }
      .footer .social .link .social-icon {
        height: 40px;
        width: 40px; }
      .footer .social .link:hover .fa-github {
        color: #3F2B5E; }
      .footer .social .link:hover .fa-codepen {
        color: #666; }
      .footer .social .link:hover .fa-twitter {
        color: #55acee; }
      .footer .social .link:hover .fa-instagram {
        color: #ff2da0; }
      .footer .social .link:hover .fa-tumblr {
        color: #36465d; }
      .footer .social .link:hover .fa-linkedin {
        color: #0e76a8; }
      .footer .social .link:hover .fa-envelope {
        color: #edb200; }
    .footer .social .me {
      border-bottom: 1px dashed white; }
