doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="/style.css")
  body
    header.header
      .title Ryan Zola
    section.landing hej from pug template!
    section.breaker
      .column hej
      .column hej
      .column hej
    section.landing
      other stuff
    footer.footer more stuff here, social media links

    script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
    script(src="/bundle.js" charset="utf-8")